<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgit.com/highslide-software/highcharts.com/master/js/themes/dark-unica.js"></script>
    <body>
     <!-- create the div for the chart -->
     <div id="chart" style="width:100%; height:800px;"></div>
     <!-- Start of Javascript -->
    <script>
     // create the websocket; for intranet use the ip-address of the raspberry pi suffices;
    var socket = io.connect('http://localhost:3000');
    window.socket = socket;
    var chart,
        startDate = Date.UTC(2009, 9, 6, 0, 0, 0);
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            events: {
                load: function() {
                    console.log('loaded')
                    socket.on('initialize', function (values) {
                        console.log(values)
                        chart.series[0].setData(values);
                    });

                    socket.on('update', function(model) {
                        // console.log('UPDATE', model);

                        if(typeof model.t === 'string') model.t = parseInt(model.t);
                        chart.series[0].addPoint(model.t, 1, 1);
                    });
                }
            }
        },
        title: {
            text: 'Temperature (C)'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {
                text: 'C',
                margin: 80
            }
        },
        plotOptions: {
            series: {
                marker: {
                    radius: 2
                }
            }
        },
        series: [{
            name: 'Temperature',
            type: 'area',
            pointStart:startDate,
            pointInterval:5*60*1000,
            data: []
        }]
     });

    var uuid = "xyz";
    function fakeData(){

        function randomInt(min, max){
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        var payload = {
            uuid: uuid,
            t: randomInt(40, 60),
            h: randomInt(20, 60),
            tmp: Date.now()
        };

        $.ajax({
            url: 'http://localhost:3000/sensor/collect',
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(payload)
        }).done(function(response){
            setTimeout(fakeData, 16 * 100);
        });

    }
    </script>
 </body>
</html>
