<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <script src="/js/socket-model.js"></script>

    <script id="content-template" type="text/ractive">
        <temperature-widget id="temperature-widget" type="temperature" />
        <humidity-widget id="humidity-widget" type="humidity" label="Humidity" units="%"/>
        <light-widget id="light-widget" type="light" label="Light" units="l"/>
        <sound-widget id="sound-widget" type="sound" label="Noise" units="dB"/>

        <himidity-sparkle />
        <movement-widget/>
    </script>
    <body>
        <div id="content"></div>
        <script src="js/vendors/requirejs/require.js" data-main="js/main.js"></script>
    </body>
</html>
