html, body{
    background-color: #212121;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#fafafa;
}

a {
  color: #00B7FF;
}


/*********************************
 WIDGETS
 *********************************/
.widget {
    width: 200px;
}