.widget.motion {
    padding:30px;
    height: 90px;
    margin-bottom: 40px;
}

.widget.motion.off {
    background-color: #121212;
}

.widget.motion.on {
    color:#121212;
    background-color: #00FF16;
}

